@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

