@media screen and (max-width: 1199px){
   .container{
       width: 950px;
    }
}





@media screen and (max-width: 979px){
   .container{
       width: 750px;
   }
}



@media screen and (max-width: 767px){
   .conatiner{
       width: 96%;
   }
   .header_left, .header_right, .header_right_inner_left, .header_right_inner_right, .main_content_left, .main_content_right, .pre_footer_inner, .footer_inner_left, .footer_inner_right{
      float: none;
      width: 100%;
      display: block;
      text-align: center;
   }
}